# This sets up a server at https://localhost

localhost { # This directive enables Gzip and Brotli compression for text assets.
encode zstd gzip

    # Forward all requests to your Next.js app.
    # Caddy is smart enough to handle the headers correctly by default.
    reverse_proxy localhost:3000

}
